@import "styles/home";
@import "styles/searcher";
@import "styles/pokemonList";
@import "styles/decoration";

* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: yellow;
  position: relative;
}
