.pokemons {
  width: 100%;
  height: 100%; }

.pokemonsInformation {
  display: inline-block;
  width: 100%; }

.nameSearcher {
  display: block;
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px; }

.pokemonList {
  list-style: none;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 15px;
  justify-content: center;
  margin: 20px; }

.pokemonSpecipications {
  border: 2px solid #bfb7ad; }

.pokemonHeader {
  background-color: #dedede; }

.pokemonImage {
  display: block;
  margin: 0 auto; }

.pokemonId {
  display: inline;
  padding: 2px 4px;
  background-color: #bfb7ad;
  font-size: 12px;
  color: #675d51; }

.pokemonMain {
  background-color: white;
  padding: 10px; }

.pokemonName {
  font-size: 20px;
  margin-bottom: 10px; }

.pokemonElements {
  list-style: none;
  display: inline;
  margin-right: 5px;
  padding: 4px;
  border: 1px solid #bfb7ad;
  border-radius: 15%; }

.triangleLeft {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 100px solid #000;
  border-left: 100px solid transparent; }

.triangleRigth {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 100px solid #000;
  border-right: 100px solid transparent; }

.circleLeft {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  border: 2px solid #fa0000;
  background: #fa0000;
  border-radius: 100% 0 0 0; }

.circleRigth {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border: 2px solid #fa0000;
  background: #fa0000;
  border-radius: 0 100% 0 0; }

* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: yellow;
  position: relative; }
